.container {
    display: grid;
    place-items: center;
}

h1 {
    text-align: center;
}

.controls {
    text-align: center;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    /* background-color: red; */
    margin: 1rem;
    gap: 0.5rem;
}

.square{
    /* background-color: yellow; */
    border: 1px solid black;
    display: grid;
    place-items: center;
    font-size: 2rem;
    width: 100px;
    height: 100px;
}
#message{
    text-align: center;
    margin-top: 2rem;
}